<div class="flex items-center gap-2 border-b px-[19px] py-3">
  <span class="h-3 w-3 rounded-full border border-black/8 bg-[#ff5f57]"></span>
  <span class="h-3 w-3 rounded-full border border-black/8 bg-[#febc2e]"></span>
  <span class="h-3 w-3 rounded-full border border-black/8 bg-[#28c840]"></span>
</div>
