---
import { SITE_DESCRIPTION } from "../consts";

import {
  CaseStudies,
  CloudCta,
  CloudHero,
  FeatureBlocks,
  UpgradeSteps,
} from "@/components/sections/cloud-page";
import { TrustedTeams } from "@/components/sections/trusted-teams";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout
  title="Maestro Cloud"
  description={SITE_DESCRIPTION}
>
  <main>
    <div class="border-b">
      <CloudHero />
      <div class="bordered-div-padding !pt-2 !pb-10 space-y-6 md:!pt-0 md:!pb-12 md:space-y-8 lg:!-mt-2 lg:!pb-14">
        <TrustedTeams
          heading="Trusted by top teams at"
          compact
          className="px-0 py-0"
          client:only="react"
        />
      </div>
    </div>
    <UpgradeSteps />
    <FeatureBlocks />
    <CaseStudies />
    <CloudCta />
  </main>
</DefaultLayout>
