---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { Agentify } from "@/components/sections/agentify";
import { Cloud } from "@/components/sections/cloud";
import { Features } from "@/components/sections/features";
import { Hero } from "@/components/sections/hero";
import { HeroVideo } from "@/components/sections/hero-video";
import { Surfaces } from "@/components/sections/surfaces";
import { TrustedTeams } from "@/components/sections/trusted-teams";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="container bg-transparent">
    <div class="border-x bg-background">
      <div class="border-b">
        <section class="hero-composite">
          <Hero compact client:load />
          <TrustedTeams compact client:only="react" />
          <HeroVideo compact client:load />
        </section>
      </div>
      <div class="border-b">
        <Features client:visible />
      </div>
      <div class="border-b">
        <Surfaces />
      </div>
      <div class="border-b">
        <Cloud />
      </div>
      <div class="border-b">
        <Agentify />
      </div>
    </div>
  </main>
</DefaultLayout>
